body{
    font-family: "Raleway", sans-serif;
}

#local{
    width: 100%;
    background-color: aqua;
    padding: 15px 0;
    margin: 0;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

#cities{
    border-collapse: collapse;
    width: 100%;
}

#cities td{
    border: 1px solid yellow;
    padding: 8px;
}

#cities tr:nth-child(even){
    background-color: #f2f2f2;
}

.col1{
    width: 10%;
}

.col2{
    width: 45%;
}
